@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    --main-color : #1ACD2F;
}

@layer utilities {
    .scrollbar-none ::-webkit-scrollbar {
        display: none;
    }
}

.scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@font-face {
    font-family: "ubuntu";
    font-style: normal;
    src: url("./assets/fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "ubuntu";
    font-style: normal;
    src: url("./assets/fonts/ubuntu/Ubuntu-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "ubuntu";
    font-style: normal;
    src: url("./assets/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "phosphor";
    font-style: normal;
    src: url("./assets/fonts/Phosphor/Phosphor-Fill.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "phosphor";
    font-style: normal;
    src: url("./assets/fonts/Phosphor/Phosphor.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito/static/Nunito-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito/static/Nunito-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
    @apply text-gray-700 bg-neutral-50;
    font-family: 'Nunito';
}

.big-title {
    font-family: 'Roboto';
}

span { color : var(--main-color) }

a { font-weight: bold; color: var(--main-color); cursor: pointer }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.input__shadow {
    box-shadow: inset 0px 0px 8px rgba(110, 110, 110, 0.082);
}
.btn {
    font-size: 16px;
    @apply bg-slate-900 text-amber-50 rounded-lg px-3 py-2
}

button[disabled] { opacity: 0.6; }

.icon_btn {
    font-family: 'Phosphor';
    border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
input:focus, textarea:focus {
    outline: 1px solid  var(--main-color);
}

.text_input {  @apply pl-3 py-2 text-[12px] bg-slate-100 rounded }


select option:hover { background-color: var(--main-color) }
input[type=radio] { outline: none; }

.error {
    @apply text-red-500 text-[12px]
}

.warning {
    @apply text-yellow-400  text-[12px]
}

.selection_btn {
    @apply border-2 border-green-500 rounded-2xl text-green-500 px-3 py-1
}

.selection_btn_selected {
    @apply border-2 border-green-500 rounded-2xl text-white bg-green-500 px-3 py-1
}
.alert__card { background-color: rgba(255, 0, 0, 0.08); }
.warning__card { background-color: rgba(255, 196, 0, 0.08); }
.menu { @apply w-full text-left px-2 py-0 my-1 text-[14px] flex gap-2 items-center }
.menu-active { @apply font-bold border-l-3 border-l-green-500 bg-neutral-200/40 text-green-500 }
.logout {
    @apply w-full rounded-sm text-red-500 font-bold text-left px-5 py-2 text-[14px] bg-red-950/20;
}

.card_empty_suggestion {
    @apply text-gray-400 py-5 pl-3 rounded-lg text-[14px] ;
    background-color: rgba(66, 66, 66, 0.07);
}

.card_suggestion {
    @apply bg-white rounded-lg p-2;
    box-shadow: inset 0 0 2px rgba(153, 153, 153, 0.527);
}

.card_feed-shadow {
    @apply bg-white rounded-lg p-2;
    box-shadow: 0 0 5px rgba(153, 153, 153, 0.281);
}

.empty_feeds {
    @apply bg-white text-emerald-800 text-[14px] py-5 px-4 rounded-lg ;
    box-shadow: 0px 0px 8px rgba(110, 110, 110, 0.14);
}
.modal-bg { background-color: #2424241f; }
.modal-shadow { box-shadow: 0 0 18px rgba(68, 68, 68, 0.158); }
.interest-list { @apply border border-purple-600 text-purple-600 text-[14px]  px-2 rounded }
.interest-list-active { @apply bg-purple-600 text-white  }

.domain-list { @apply border border-green-600 text-green-600 text-[14px]  px-2 rounded }
.domain-list-active { @apply bg-green-600 text-white  }

.comment-input {
    @apply w-full h-full rounded-lg text-[14px] px-3 py-1 pr-18;
    box-shadow:inset 0 0 2px rgb(88, 88, 88);
    resize: none;
}
.feed {
    box-shadow: inset 0 0 2px rgba(64, 65, 66, 0.349);
}
.tab {
    @apply border border-neutral-200 text-neutral-700 py-1 px-5 rounded-2xl
}
.tab-active {
    @apply text-white font-bold bg-black/45 py-1 px-5 rounded-2xl
}
.btn-entry {
    @apply border-b border-b-neutral-400 py-2 px-3
}

















.animate-rotate {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform : rotate(0deg) }
    to { transform: rotate(360deg); }
}